@font-face {
    font-family: LibreFranklin;
    src: url(../fonts/LibreFrankling/LibreFranklin-VariableFont_wght.ttf);
}

@font-face {
    font-family: Varela;
    src: url(../fonts/Varela_Round/VarelaRound-Regular.ttf);
}

body{
    font-family: Varela;
}

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container{
    min-height: 100vh;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

.wrapper {
    display: flex;
}

#main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

#main-heading h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffbd59;
    font-size: 3em;
    transform: rotate(-2deg); /* Rotate slightly diagonal */
    display: inline-block;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #ffbd59;
    display: flex;
    flex-direction: column;
}

#sidebar-menu{
    background-color: white;
}

#menu span{
    color: #222222;
}
#menu a{
    color: #222222;
}

#offcanvasMenu{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
#canvasMenu{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 1;
}

#myCarousel{
    background-color: #e0e0e05b;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#myCarousel img{
    border-radius: 15px;
}

.carousel-item {
    text-align: center;
  }
  .carousel-item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  .carousel-caption {
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
  }

/* MOBILE VIEW*/
#movile-view-menu{
    background: rgb(255,255,255);
    background: linear-gradient(153deg, rgba(255,255,255,1) 0%, rgba(255,189,89,1) 90%); 
}